services:
  backend:
    container_name: petad-backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
      - "5555:5555"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - NODE_ENV=development
    depends_on:
      - db
      - redis
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: petad-postgres
    environment:
      POSTGRES_USER: petad
      POSTGRES_PASSWORD: petadpassword
      POSTGRES_DB: petad_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: petad-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
  postgres_data:
